
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <img src="../../img/logo_blank.png" style='width: 30%; margin-left: 30%;'>
</ion-navbar>

<ion-content style='background: url(../../img/background_slide_4.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;'>

    <ion-card>
      <ion-list-header>
        <center><h2 style='margin-top:5px;'>Your Profile</h2></center>
      </ion-list-header>

      <ion-item (click)="chooseAvatar();">
            <img  style='margin: auto; max-height: 120px; max-width: 120px; border-radius: 6rem;' src="{{ profile.avatar }}">
      </ion-item>

      <form [ngFormModel]="profileForm">

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input ngControl="name" type="text" value="{{ profile.name }}"  [(ngModel)]="profile.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Mail</ion-label>
          <ion-input ngControl="mail" type="text" value="{{ profile.mail }}" [(ngModel)]="profile.mail"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Age</ion-label>
          <ion-input  ngControl="age" type="number" value="{{ profile.age }}" [(ngModel)]="profile.age"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="ion-ios-telephone"></ion-icon>
          <ion-label floating>Phone</ion-label>
          <ion-input ngControl="phone" type="tel" value="{{ profile.phone }}" [(ngModel)]="profile.phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Job</ion-label>
          <ion-input ngControl="job" type="text" value="{{ profile.job }}" [(ngModel)]="profile.job"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>School</ion-label>
          <ion-input ngControl="school" type="text" value="{{ profile.school }}" [(ngModel)]="profile.school"></ion-input>
        </ion-item>

         <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-textarea ngControl="description" type="text" value="{{ profile.description }}" [(ngModel)]="profile.description"></ion-textarea>
        </ion-item>

          <ion-label>Tags</ion-label>
          <center>
          <ion-list style='padding:0 15px 5px 15px;'>
            <button small *ngFor="#tag of profile.tags" (click)="removeTags($event, tag)"> #{{ tag }} </button>
          </ion-list> </center>
          <ion-searchbar [hidden]="!searchingTags" style='width: 70%; margin: auto;' [(ngModel)]="searchTags" (input)="getTags($event)" placeholder="Choose tags"></ion-searchbar>
          <ion-list no-lines style='margin:0 0 0 0;'>
            <ion-item *ngFor="#suggest of suggests"  (click)="tagsChoosen($event, suggest)">
               {{ suggest }}
            </ion-item>
          </ion-list>

        <center> <button round block (click)="onProfileUpdate()" style='padding-top: 10px; padding-bottom: 10px; width: 50%;'>Update</button> </center>
       </form>

    </ion-card>


</ion-content>
