<ion-navbar *navbar>
  <ion-buttons start>
    <button (click)="dismiss()">Close</button>
  </ion-buttons>
  <ion-title>Meetup</ion-title>
</ion-navbar>

<ion-content padding>
        <center>
          <ion-label><h2> {{ invitation.meetup.name }} </h2></ion-label>
          <ion-card style='margin: 0 0 0 0; max-width: 300px;' class="advanced-background">
            <img src="{{ invitation.meetup.location.img }}">
            <p class="advanced-background-title"> {{ invitation.meetup.location.name }}</p>
            <p class="advanced-background-subtitle">{{ invitation.meetup.location.type }}</p>
          </ion-card>
        </center>
            <ion-list inset>
        <ion-item>
          <ion-label> The {{ invitation.meetup.date }} with {{ invitation.meetup.users.length}} users</ion-label>
        </ion-item>

      <center>
        <ion-label> Tags of diner </ion-label>
        <button small *ngFor="#tag of invitation.meetup.tags"> {{ tag }} </button>
      </center>
    <ion-item>
    </ion-item>
    </ion-list>
    <ion-row *ngIf="needresponse == true">
        <button (click)="accept()" style="margin-right: +10px;" primary block>Accept</button>
        <button (click)="refuse()" light block>Refuse</button>
    </ion-row>
</ion-content>
