
<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Create meetup</ion-title>
</ion-navbar>

<ion-content style='background: url(../../img/background_slide_4.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;'>

    <ion-card>
      <center><h2 style='margin-top:10px;'>General informations</h2></center>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-input type="datetime-local" value=""></ion-input>
      </ion-item>

    </ion-card>
    <ion-card style='padding: 10px 0 10px 0;'>
      <center><h2 style='margin-bottom: 10px;'>Tags of the diner</h2></center>

      <center>
        <ion-list style='padding:0 15px 5px 15px;'>
          <button small *ngFor="#tag of tags"> {{ tag }} </button>
        </ion-list>
      </center>

      <ion-searchbar [hidden]="!searchingTags" style='width: 70%; margin: auto;' [(ngModel)]="searchTags" (input)="getTags($event)" placeholder="Choose tags"></ion-searchbar>
      <ion-list no-lines style='margin:0 0 0 0;'>
        <ion-item *ngFor="#suggest of suggests"  (click)="tagsChoosen($event, suggest)">
           {{ suggest }}
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card style='padding: 10px 0 10px 0;'>
      <center>
        <ion-list>
          <ion-list-header>
            <h2>Invited users</h2>
          </ion-list-header>
          <ion-item *ngFor="#user of users">
            <ion-avatar item-left> <img src="{{ user.avatar }}"> </ion-avatar>
            <h2>{{ user.name }}</h2>
            <h3>{{ user.job }}</h3>
          </ion-item>
        </ion-list>
        <button style='width: 50%; height: 35px;' (click)="searchUser();">Find More</button>
      </center>
    </ion-card>

    <center> <button block style='padding-top: 15px; padding-bottom: 15px; width: 50%;'> Confirm</button> </center>
</ion-content>
