
<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <img src="../../img/logo_blank.png" style='width: 30%; margin-left: 30%;'>
</ion-navbar>

<ion-content style='background: url(../../img/background_slide_4.jpg) no-repeat center center fixed; background-size: cover;'>

    <ion-card style='padding: 10px 0 10px 0;'>
      <center>
        <ion-list>
          <ion-list-header>
            <form>
              <ion-searchbar style='width: 80%; margin: 0 0 0 0;' [(ngModel)]="searchbarValue" placeholder="Search a restaurant by type (exemple: chinese, italian ..)"></ion-searchbar>
              <button small (click)="searchLocation();">Search</button>
            </form>
          </ion-list-header>

          <ion-card class="advanced-background" *ngFor="#location of locations">
            <ion-avatar item-left> <img src="{{ location.img }}"> </ion-avatar>
            <p class="advanced-background-title"> {{location.name}}</p>
            <p class="advanced-background-subtitle">{{ location.description }}</p>
          </ion-card>

        </ion-list>
      </center>
    </ion-card>
</ion-content>
