
<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <img src="img/logo_blank.png" style='max-height: 30px; margin-left: 30%;'>
</ion-navbar>

<div class="container" [ngClass]="{'busy': loading}">
    <center><h1 style='color:white;'>Loading ...</h1></center>
    <div class="backdrop"></div>
</div>

<ion-content style='background: url(img/background_slide_4.jpg) no-repeat center center fixed; background-size: cover;'>
          <ion-pane>
              <div style='marggin-bottom: 30px;' >
                <ion-searchbar [(ngModel)]="searchbarValue" placeholder="restaurant type (exemple: chinese ..)" (keypress)="handleKeyPress($event.keyCode)"></ion-searchbar>
              </div>
              <center style='margin-top: 10px; margin-bottom: 15px;'>
                <button [ngClass]="{active: price == 35}" style='width: 28%;' (click)="price=35;"><p>$$</p></button>
                <button [ngClass]="{active: price == 45}" style='width: 28%;' (click)="price=45;"><p>$$$</p></button>
                <button [ngClass]="{active: price == 55}" style='width: 28%;' (click)="price=55;"><p>$$$$</p></button>
              </center>
          </ion-pane>
          <ion-card style='margin: 0 0 0 0;' class="advanced-background" *ngFor="#location of locations">
            <img style='max-height:150px;' src="{{ location.img }}">
            <p class="advanced-background-title"> {{location.name}}</p>
            <p class="advanced-background-subtitle">{{ location.description }}</p>

            <button (click)="chooseLocation(location);" fab fab-top fab-right style='border-radius: 30px; max-width: 35px; max-height: 35px; background-color: #D44B36;'>
              <ion-icon name='add'></ion-icon>
            </button>
          </ion-card>

</ion-content>
